USE [master]
GO
/****** Object:  Database [W3Resource]    Script Date: 26/12/2019 2:24:04 AM ******/
CREATE DATABASE [W3Resource]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'W3Resource', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\W3Resource.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'W3Resource_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\W3Resource_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [W3Resource].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [W3Resource]
GO
/****** Object:  Schema [Employee]    Script Date: 26/12/2019 2:24:04 AM ******/
CREATE SCHEMA [Employee]
GO
/****** Object:  Schema [Hospital]    Script Date: 26/12/2019 2:24:04 AM ******/
CREATE SCHEMA [Hospital]
GO
/****** Object:  Schema [HR]    Script Date: 26/12/2019 2:24:04 AM ******/
CREATE SCHEMA [HR]
GO
/****** Object:  Schema [Inventory]    Script Date: 26/12/2019 2:24:04 AM ******/
CREATE SCHEMA [Inventory]
GO
/****** Object:  Schema [Movies]    Script Date: 26/12/2019 2:24:04 AM ******/
CREATE SCHEMA [Movies]
GO
/****** Object:  Schema [SOCCER]    Script Date: 26/12/2019 2:24:04 AM ******/
CREATE SCHEMA [SOCCER]
GO
/****** Object:  Table [dbo].[emp_details]    Script Date: 26/12/2019 2:24:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emp_details](
	[emp_idno] [int] NULL,
	[emp_fname] [nvarchar](15) NULL,
	[emp_lname] [nvarchar](15) NULL,
	[emp_dept] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item_mast]    Script Date: 26/12/2019 2:24:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_mast](
	[pro_id] [int] NULL,
	[pro_name] [nvarchar](25) NULL,
	[pro_price] [numeric](8, 2) NULL,
	[pro_com] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nobel_win]    Script Date: 26/12/2019 2:24:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nobel_win](
	[year] [int] NULL,
	[subject] [nvarchar](25) NULL,
	[winner] [nvarchar](45) NULL,
	[country] [nvarchar](25) NULL,
	[category] [nvarchar](25) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Employee].[department]    Script Date: 26/12/2019 2:24:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Employee].[department](
	[dep_id] [int] NOT NULL,
	[dep_name] [varchar](20) NULL,
	[dep_location] [varchar](15) NULL,
 CONSTRAINT [PK_department_1] PRIMARY KEY CLUSTERED 
(
	[dep_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Employee].[employees]    Script Date: 26/12/2019 2:24:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Employee].[employees](
	[emp_id] [int] NOT NULL,
	[emp_name] [varchar](15) NULL,
	[job_name] [varchar](10) NULL,
	[manager_id] [int] NULL,
	[hire_date] [date] NULL,
	[salary] [decimal](10, 2) NULL,
	[commission] [decimal](7, 2) NULL,
	[dep_id] [int] NULL,
 CONSTRAINT [PK_employees] PRIMARY KEY CLUSTERED 
(
	[emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Employee].[salary_grade]    Script Date: 26/12/2019 2:24:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Employee].[salary_grade](
	[grade] [int] IDENTITY(1,1) NOT NULL,
	[min_salary] [int] NULL,
	[max_salary] [int] NULL,
 CONSTRAINT [PK_salary_grade] PRIMARY KEY CLUSTERED 
(
	[grade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Hospital].[Affiliated_With]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hospital].[Affiliated_With](
	[physician] [int] NOT NULL,
	[department] [int] NOT NULL,
	[primaryaffiliation] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[physician] ASC,
	[department] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Hospital].[Appointment]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hospital].[Appointment](
	[appointmentid] [int] NOT NULL,
	[patient] [int] NULL,
	[prepnurse] [int] NULL,
	[physician] [int] NULL,
	[start_dt_time] [datetime] NULL,
	[end_dt_time] [datetime] NULL,
	[examinationroom] [nvarchar](max) NULL,
 CONSTRAINT [PK_Appointment] PRIMARY KEY CLUSTERED 
(
	[appointmentid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Hospital].[Block]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hospital].[Block](
	[blockfloor] [int] NOT NULL,
	[blockcode] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[blockfloor] ASC,
	[blockcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Hospital].[Department]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hospital].[Department](
	[name] [nvarchar](max) NULL,
	[departmentid] [int] NOT NULL,
	[head] [int] NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[departmentid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Hospital].[Medication]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hospital].[Medication](
	[code] [int] NOT NULL,
	[name] [nvarchar](max) NULL,
	[brand] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Medication] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Hospital].[Nurse]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hospital].[Nurse](
	[employeeid] [int] NOT NULL,
	[name] [nvarchar](max) NULL,
	[position] [nvarchar](max) NULL,
	[registered] [bit] NULL,
	[ssn] [int] NULL,
 CONSTRAINT [PK_Nurse] PRIMARY KEY CLUSTERED 
(
	[employeeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Hospital].[On-Call]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hospital].[On-Call](
	[nurse] [int] NOT NULL,
	[blockfloor] [int] NOT NULL,
	[blockcode] [int] NOT NULL,
	[oncallstart] [datetime] NOT NULL,
	[oncallend] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Hospital].[Patient]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hospital].[Patient](
	[ssn] [int] NOT NULL,
	[name] [nvarchar](max) NULL,
	[address] [nvarchar](max) NULL,
	[phone] [nvarchar](max) NULL,
	[insuranceid] [int] NULL,
	[pcp] [int] NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[ssn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Hospital].[Physician]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hospital].[Physician](
	[employeeid] [int] NOT NULL,
	[name] [nvarchar](max) NULL,
	[position] [nvarchar](max) NULL,
	[ssn] [int] NULL,
 CONSTRAINT [PK_Physician] PRIMARY KEY CLUSTERED 
(
	[employeeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Hospital].[Prescribes]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hospital].[Prescribes](
	[physician] [int] NOT NULL,
	[patient] [int] NOT NULL,
	[medication] [int] NOT NULL,
	[date] [datetime] NOT NULL,
	[appointment] [int] NULL,
	[dose] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[physician] ASC,
	[patient] ASC,
	[medication] ASC,
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Hospital].[Procedures]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hospital].[Procedures](
	[code] [int] NOT NULL,
	[name] [nvarchar](max) NULL,
	[cost] [real] NULL,
 CONSTRAINT [PK_Procedures] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Hospital].[Room]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hospital].[Room](
	[blockfloor] [int] NULL,
	[blockcode] [int] NULL,
	[roomnumber] [int] NOT NULL,
	[roomtype] [nvarchar](30) NULL,
	[unavailable] [bit] NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[roomnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Hospital].[Stay]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hospital].[Stay](
	[stayid] [int] NOT NULL,
	[patient] [int] NULL,
	[room] [int] NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
 CONSTRAINT [PK_Stay] PRIMARY KEY CLUSTERED 
(
	[stayid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Hospital].[Trained_in]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hospital].[Trained_in](
	[physician] [int] NOT NULL,
	[treatment] [int] NOT NULL,
	[certificationdate] [date] NULL,
	[certificationexpires] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[physician] ASC,
	[treatment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Hospital].[Undergoes]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hospital].[Undergoes](
	[patient] [int] NOT NULL,
	[procedure] [int] NOT NULL,
	[stay] [int] NOT NULL,
	[date] [datetime] NOT NULL,
	[physician] [int] NULL,
	[assistingnurse] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[patient] ASC,
	[procedure] ASC,
	[stay] ASC,
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HR].[Countries]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[Countries](
	[country_id] [nvarchar](2) NOT NULL,
	[country_name] [nvarchar](40) NULL,
	[region_id] [numeric](10, 0) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HR].[Departments]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[Departments](
	[department_id] [numeric](4, 0) NOT NULL,
	[department_name] [nvarchar](30) NULL,
	[manager_id] [numeric](6, 0) NULL,
	[location_id] [numeric](4, 0) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HR].[Employees]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[Employees](
	[employee_id] [numeric](6, 0) NOT NULL,
	[first_name] [nvarchar](20) NULL,
	[last_name] [nvarchar](25) NULL,
	[email] [nvarchar](25) NULL,
	[phone_number] [nvarchar](20) NULL,
	[hire_date] [date] NULL,
	[job_id] [nvarchar](10) NULL,
	[salary] [numeric](8, 2) NULL,
	[commission_pct] [numeric](2, 2) NULL,
	[manager_id] [numeric](6, 0) NULL,
	[department_id] [numeric](4, 0) NULL,
 CONSTRAINT [PK_Employees_1] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HR].[Job_Grades]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[Job_Grades](
	[grade_level] [nvarchar](20) NOT NULL,
	[lowest_sal] [numeric](5, 0) NULL,
	[highest_sal] [numeric](5, 0) NULL,
 CONSTRAINT [PK_Job_Grades] PRIMARY KEY CLUSTERED 
(
	[grade_level] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HR].[Job_History]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[Job_History](
	[employee_id] [numeric](6, 0) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NULL,
	[job_id] [nvarchar](10) NULL,
	[department_id] [numeric](4, 0) NULL,
 CONSTRAINT [PK_Job_History] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC,
	[start_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HR].[Jobs]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[Jobs](
	[job_id] [nvarchar](10) NOT NULL,
	[job_title] [nvarchar](35) NOT NULL,
	[min_salary] [numeric](6, 0) NULL,
	[max_salary] [numeric](6, 0) NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HR].[Locations]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[Locations](
	[location_id] [numeric](4, 0) NOT NULL,
	[street_address] [nvarchar](40) NULL,
	[postal_code] [nvarchar](12) NULL,
	[city] [nvarchar](30) NULL,
	[state_province] [nvarchar](25) NULL,
	[country_id] [nvarchar](2) NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HR].[Regions]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[Regions](
	[region_id] [numeric](10, 0) NOT NULL,
	[region_name] [nvarchar](25) NULL,
 CONSTRAINT [PK_Regions] PRIMARY KEY CLUSTERED 
(
	[region_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Inventory].[Customer]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inventory].[Customer](
	[salesman_id] [numeric](5, 0) NULL,
	[customer_id] [numeric](5, 0) NOT NULL,
	[cust_name] [nvarchar](30) NULL,
	[city] [nvarchar](15) NULL,
	[grade] [numeric](3, 0) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Inventory].[Orders]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inventory].[Orders](
	[salesman_id] [numeric](5, 0) NULL,
	[ord_no] [numeric](5, 0) NOT NULL,
	[purch_amt] [numeric](8, 2) NULL,
	[ord_date] [date] NULL,
	[customer_id] [numeric](5, 0) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[ord_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Inventory].[Salesman]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inventory].[Salesman](
	[salesman_id] [numeric](5, 0) NOT NULL,
	[name] [nvarchar](30) NULL,
	[city] [nvarchar](15) NULL,
	[commission] [numeric](5, 2) NULL,
 CONSTRAINT [PK_Salesman] PRIMARY KEY CLUSTERED 
(
	[salesman_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Movies].[Actor]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Movies].[Actor](
	[act_id] [int] NULL,
	[act_fname] [nvarchar](20) NULL,
	[act_lname] [nvarchar](20) NULL,
	[act_gender] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Movies].[Director]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Movies].[Director](
	[dir_id] [int] NULL,
	[dir_fname] [nvarchar](20) NULL,
	[dir_lname] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Movies].[Genres]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Movies].[Genres](
	[gen_id] [int] NULL,
	[gen_title] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Movies].[Movie]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Movies].[Movie](
	[mov_id] [int] NULL,
	[mov_title] [nvarchar](50) NULL,
	[mov_year] [int] NULL,
	[mov_time] [int] NULL,
	[mov_lang] [nvarchar](15) NULL,
	[mov_dt_rel] [date] NULL,
	[mov_rel_country] [nvarchar](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Movies].[Movie_cast]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Movies].[Movie_cast](
	[mov_id] [int] NULL,
	[act_id] [int] NULL,
	[role] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Movies].[Movie_Direction]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Movies].[Movie_Direction](
	[mov_id] [int] NULL,
	[dir_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Movies].[Movie_Genres]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Movies].[Movie_Genres](
	[mov_id] [int] NULL,
	[gen_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Movies].[Rating]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Movies].[Rating](
	[mov_id] [int] NULL,
	[rev_id] [int] NULL,
	[rev_stars] [numeric](4, 2) NULL,
	[num_o_ratings] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Movies].[Reviewer]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Movies].[Reviewer](
	[rev_id] [int] NULL,
	[rev_name] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [SOCCER].[asst_referee_mast]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SOCCER].[asst_referee_mast](
	[ass_ref_id] [int] NOT NULL,
	[ass_ref_name] [nvarchar](40) NULL,
	[country_id] [int] NULL,
 CONSTRAINT [PK_asst_referee_mast] PRIMARY KEY CLUSTERED 
(
	[ass_ref_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SOCCER].[coach_mast]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SOCCER].[coach_mast](
	[coach_id] [int] NOT NULL,
	[coach_name] [nvarchar](40) NULL,
 CONSTRAINT [PK_coach_mast] PRIMARY KEY CLUSTERED 
(
	[coach_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SOCCER].[goal_details]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SOCCER].[goal_details](
	[goal_id] [int] NOT NULL,
	[match_no] [int] NULL,
	[player_id] [int] NULL,
	[team_id] [int] NULL,
	[goal_time] [int] NULL,
	[goal_type] [nvarchar](1) NULL,
	[play_stage] [nvarchar](1) NULL,
	[goal_schedule] [nvarchar](2) NULL,
	[goal_half] [int] NULL,
 CONSTRAINT [PK_goal_details] PRIMARY KEY CLUSTERED 
(
	[goal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SOCCER].[match_captain]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SOCCER].[match_captain](
	[match_no] [int] NULL,
	[team_id] [int] NULL,
	[player_captain] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [SOCCER].[match_details]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SOCCER].[match_details](
	[match_no] [int] NULL,
	[team_id] [int] NULL,
	[play_stage] [nvarchar](1) NULL,
	[win_lose] [nvarchar](1) NULL,
	[decided_by] [nvarchar](1) NULL,
	[goal_score] [int] NULL,
	[penalty_score] [int] NULL,
	[ass_ref] [int] NULL,
	[player_gk] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [SOCCER].[match_mast]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SOCCER].[match_mast](
	[match_no] [int] NOT NULL,
	[play_stage] [nvarchar](1) NULL,
	[decided_by] [nvarchar](1) NULL,
	[goal_score] [varchar](5) NULL,
	[play_date] [date] NULL,
	[results] [nvarchar](5) NULL,
	[venue_id] [int] NULL,
	[referee_id] [int] NULL,
	[audience] [int] NULL,
	[plr_of_match] [int] NULL,
	[stop1_sec] [int] NULL,
	[stop2_sec] [int] NULL,
 CONSTRAINT [PK_match_mast] PRIMARY KEY CLUSTERED 
(
	[match_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SOCCER].[penalty_gk]    Script Date: 26/12/2019 2:24:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SOCCER].[penalty_gk](
	[match_no] [int] NULL,
	[team_id] [int] NULL,
	[player_gk] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [SOCCER].[penalty_shootout]    Script Date: 26/12/2019 2:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SOCCER].[penalty_shootout](
	[match_no] [int] NULL,
	[team_id] [int] NULL,
	[kick_id] [int] NOT NULL,
	[player_id] [int] NULL,
	[score_goal] [nvarchar](1) NULL,
	[kick_no] [int] NULL,
 CONSTRAINT [PK_penalty_shootout] PRIMARY KEY CLUSTERED 
(
	[kick_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SOCCER].[player_booked]    Script Date: 26/12/2019 2:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SOCCER].[player_booked](
	[match_no] [int] NULL,
	[team_id] [int] NULL,
	[player_id] [int] NULL,
	[booking_time] [int] NULL,
	[sent_off] [nvarchar](1) NULL,
	[play_schedule] [nvarchar](2) NULL,
	[play_half] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [SOCCER].[player_in_out]    Script Date: 26/12/2019 2:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SOCCER].[player_in_out](
	[match_no] [int] NULL,
	[team_id] [int] NULL,
	[player_id] [int] NULL,
	[play_schedule] [nvarchar](2) NULL,
	[play_half] [int] NULL,
	[in_out] [nvarchar](1) NULL,
	[time_in_out] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [SOCCER].[player_mast]    Script Date: 26/12/2019 2:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SOCCER].[player_mast](
	[team_id] [int] NULL,
	[player_id] [int] NOT NULL,
	[jersey_no] [int] NULL,
	[player_name] [nvarchar](40) NULL,
	[posi_to_play] [nvarchar](2) NULL,
	[dt_of_bir] [date] NULL,
	[age] [int] NULL,
	[playing_club] [nvarchar](40) NULL,
 CONSTRAINT [PK_player_mast] PRIMARY KEY CLUSTERED 
(
	[player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SOCCER].[playing_position]    Script Date: 26/12/2019 2:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SOCCER].[playing_position](
	[position_id] [nvarchar](2) NOT NULL,
	[position_desc] [nvarchar](15) NULL,
 CONSTRAINT [PK_playing_position] PRIMARY KEY CLUSTERED 
(
	[position_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SOCCER].[referee_mast]    Script Date: 26/12/2019 2:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SOCCER].[referee_mast](
	[referee_id] [int] NOT NULL,
	[referee_name] [nvarchar](40) NULL,
	[country_id] [int] NULL,
 CONSTRAINT [PK_referee_mast] PRIMARY KEY CLUSTERED 
(
	[referee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SOCCER].[soccer_city]    Script Date: 26/12/2019 2:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SOCCER].[soccer_city](
	[city_id] [int] NOT NULL,
	[city] [nvarchar](25) NULL,
	[country_id] [int] NULL,
 CONSTRAINT [PK_soccer_city] PRIMARY KEY CLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SOCCER].[soccer_country]    Script Date: 26/12/2019 2:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SOCCER].[soccer_country](
	[country_id] [int] NOT NULL,
	[country_abbr] [nvarchar](4) NULL,
	[country_name] [nvarchar](40) NULL,
 CONSTRAINT [PK_soccer_country] PRIMARY KEY CLUSTERED 
(
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SOCCER].[soccer_team]    Script Date: 26/12/2019 2:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SOCCER].[soccer_team](
	[team_id] [int] NOT NULL,
	[team_group] [nvarchar](1) NULL,
	[match_played] [int] NULL,
	[won] [int] NULL,
	[draw] [int] NULL,
	[lost] [int] NULL,
	[goal_for] [int] NULL,
	[goal_agnst] [int] NULL,
	[goal_diff] [int] NULL,
	[points] [int] NULL,
	[group_position] [int] NULL,
 CONSTRAINT [PK_soccer_team] PRIMARY KEY CLUSTERED 
(
	[team_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SOCCER].[soccer_venue]    Script Date: 26/12/2019 2:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SOCCER].[soccer_venue](
	[venue_id] [int] NOT NULL,
	[venue_name] [nvarchar](30) NULL,
	[city_id] [int] NULL,
	[aud_capacity] [int] NULL,
 CONSTRAINT [PK_soccer_venue] PRIMARY KEY CLUSTERED 
(
	[venue_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SOCCER].[team_coaches]    Script Date: 26/12/2019 2:24:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SOCCER].[team_coaches](
	[team_id] [int] NULL,
	[coach_id] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[emp_details] ([emp_idno], [emp_fname], [emp_lname], [emp_dept]) VALUES (631548, N'Alan           ', N'Snappy         ', 27)
INSERT [dbo].[emp_details] ([emp_idno], [emp_fname], [emp_lname], [emp_dept]) VALUES (839139, N'Maria          ', N'Foster         ', 57)
INSERT [dbo].[emp_details] ([emp_idno], [emp_fname], [emp_lname], [emp_dept]) VALUES (127323, N'Michale        ', N'Robbin         ', 57)
INSERT [dbo].[item_mast] ([pro_id], [pro_name], [pro_price], [pro_com]) VALUES (101, N'Mother Board', CAST(3200.00 AS Numeric(8, 2)), 15)
INSERT [dbo].[item_mast] ([pro_id], [pro_name], [pro_price], [pro_com]) VALUES (102, N'Key 

Board', CAST(450.00 AS Numeric(8, 2)), 16)
INSERT [dbo].[item_mast] ([pro_id], [pro_name], [pro_price], [pro_com]) VALUES (103, N'ZIP 

drive', CAST(250.00 AS Numeric(8, 2)), 14)
INSERT [dbo].[nobel_win] ([year], [subject], [winner], [country], [category]) VALUES (1970, N'Physics                  ', N'Hannes Alfven                                ', N'Sweden                   ', N'Scientist                ')
INSERT [dbo].[nobel_win] ([year], [subject], [winner], [country], [category]) VALUES (1970, N'Physics                  ', N'Louis Neel                                   ', N'France                   ', N'Scientist                ')
INSERT [dbo].[nobel_win] ([year], [subject], [winner], [country], [category]) VALUES (1970, N'Chemistry                ', N'Luis Federico Leloir                         ', N'France                   ', N'Scientist                ')
INSERT [Employee].[department] ([dep_id], [dep_name], [dep_location]) VALUES (1001, N'FINANCE', N'SYDNEY')
INSERT [Employee].[department] ([dep_id], [dep_name], [dep_location]) VALUES (2001, N'AUDIT', N'MELBOURNE')
INSERT [Employee].[department] ([dep_id], [dep_name], [dep_location]) VALUES (3001, N'MARKETING', N'PERTH')
INSERT [Employee].[employees] ([emp_id], [emp_name], [job_name], [manager_id], [hire_date], [salary], [commission], [dep_id]) VALUES (63679, N'SANDRINE', N'CLERK', 69062, CAST(N'1990-12-18' AS Date), CAST(900.00 AS Decimal(10, 2)), NULL, 2001)
INSERT [Employee].[employees] ([emp_id], [emp_name], [job_name], [manager_id], [hire_date], [salary], [commission], [dep_id]) VALUES (64989, N'ADELYN', N'SALESMAN', 66928, CAST(N'1991-02-20' AS Date), CAST(1700.00 AS Decimal(10, 2)), CAST(400.00 AS Decimal(7, 2)), 3001)
INSERT [Employee].[employees] ([emp_id], [emp_name], [job_name], [manager_id], [hire_date], [salary], [commission], [dep_id]) VALUES (65271, N'WADE', N'SALESMAN', 66928, CAST(N'1991-02-22' AS Date), CAST(1350.00 AS Decimal(10, 2)), CAST(600.00 AS Decimal(7, 2)), 3001)
SET IDENTITY_INSERT [Employee].[salary_grade] ON 

INSERT [Employee].[salary_grade] ([grade], [min_salary], [max_salary]) VALUES (1, 800, 1300)
INSERT [Employee].[salary_grade] ([grade], [min_salary], [max_salary]) VALUES (2, 1301, 1500)
INSERT [Employee].[salary_grade] ([grade], [min_salary], [max_salary]) VALUES (3, 1501, 2100)
SET IDENTITY_INSERT [Employee].[salary_grade] OFF
INSERT [Hospital].[Affiliated_With] ([physician], [department], [primaryaffiliation]) VALUES (1, 1, 1)
INSERT [Hospital].[Affiliated_With] ([physician], [department], [primaryaffiliation]) VALUES (2, 1, 1)
INSERT [Hospital].[Affiliated_With] ([physician], [department], [primaryaffiliation]) VALUES (3, 1, 0)
INSERT [Hospital].[Appointment] ([appointmentid], [patient], [prepnurse], [physician], [start_dt_time], [end_dt_time], [examinationroom]) VALUES (13216584, 100000001, 101, 1, CAST(N'2008-04-24T10:00:00.000' AS DateTime), CAST(N'2008-04-24T11:00:00.000' AS DateTime), N'A')
INSERT [Hospital].[Appointment] ([appointmentid], [patient], [prepnurse], [physician], [start_dt_time], [end_dt_time], [examinationroom]) VALUES (26548913, 100000002, 101, 2, CAST(N'2008-04-24T10:00:00.000' AS DateTime), CAST(N'2008-04-24T11:00:00.000' AS DateTime), N'B')
INSERT [Hospital].[Appointment] ([appointmentid], [patient], [prepnurse], [physician], [start_dt_time], [end_dt_time], [examinationroom]) VALUES (36549879, 100000001, 102, 1, CAST(N'2008-04-25T10:00:00.000' AS DateTime), CAST(N'2008-04-25T11:00:00.000' AS DateTime), N'A')
INSERT [Hospital].[Block] ([blockfloor], [blockcode]) VALUES (1, 1)
INSERT [Hospital].[Block] ([blockfloor], [blockcode]) VALUES (1, 2)
INSERT [Hospital].[Block] ([blockfloor], [blockcode]) VALUES (1, 3)
INSERT [Hospital].[Department] ([name], [departmentid], [head]) VALUES (N'General Medicine', 1, 4)
INSERT [Hospital].[Department] ([name], [departmentid], [head]) VALUES (N'Surgery', 2, 7)
INSERT [Hospital].[Department] ([name], [departmentid], [head]) VALUES (N'Psychiatry', 3, 9)
INSERT [Hospital].[Medication] ([code], [name], [brand], [description]) VALUES (1, N'Procrastin-X', N'X', N'N/A')
INSERT [Hospital].[Medication] ([code], [name], [brand], [description]) VALUES (2, N'Thesisin', N'Foo Labs', N'N/A')
INSERT [Hospital].[Medication] ([code], [name], [brand], [description]) VALUES (3, N'Awakin', N'Bar Laboratories', N'N/A')
INSERT [Hospital].[Nurse] ([employeeid], [name], [position], [registered], [ssn]) VALUES (101, N'Carla Espinosa', N'Head Nurse', 1, 111111110)
INSERT [Hospital].[Nurse] ([employeeid], [name], [position], [registered], [ssn]) VALUES (102, N'Laverne Roberts', N'Nurse', 1, 222222220)
INSERT [Hospital].[Nurse] ([employeeid], [name], [position], [registered], [ssn]) VALUES (103, N'Paul Flowers', N'Nurse', 0, 333333330)
INSERT [Hospital].[On-Call] ([nurse], [blockfloor], [blockcode], [oncallstart], [oncallend]) VALUES (101, 1, 1, CAST(N'2008-11-04T11:00:00.000' AS DateTime), CAST(N'2008-11-04T19:00:00.000' AS DateTime))
INSERT [Hospital].[On-Call] ([nurse], [blockfloor], [blockcode], [oncallstart], [oncallend]) VALUES (101, 1, 2, CAST(N'2008-11-04T11:00:00.000' AS DateTime), CAST(N'2008-11-04T19:00:00.000' AS DateTime))
INSERT [Hospital].[On-Call] ([nurse], [blockfloor], [blockcode], [oncallstart], [oncallend]) VALUES (102, 1, 3, CAST(N'2008-11-04T11:00:00.000' AS DateTime), CAST(N'2008-11-04T19:00:00.000' AS DateTime))
INSERT [Hospital].[Patient] ([ssn], [name], [address], [phone], [insuranceid], [pcp]) VALUES (100000001, N'John Smith', N'42 Foobar Lane', N'555-0256', 68476213, 1)
INSERT [Hospital].[Patient] ([ssn], [name], [address], [phone], [insuranceid], [pcp]) VALUES (100000002, N'Grace Ritchie', N'37 Snafu Drive', N'555-0512', 36546321, 2)
INSERT [Hospital].[Patient] ([ssn], [name], [address], [phone], [insuranceid], [pcp]) VALUES (100000003, N'Random J. Patient', N'101 Omgbbq Street', N'555-1204', 65465421, 2)
INSERT [Hospital].[Physician] ([employeeid], [name], [position], [ssn]) VALUES (1, N'John Dorian', N'Staff Internist', 111111111)
INSERT [Hospital].[Physician] ([employeeid], [name], [position], [ssn]) VALUES (2, N'Elliot Reid', N'Attending Physician', 222222222)
INSERT [Hospital].[Physician] ([employeeid], [name], [position], [ssn]) VALUES (3, N'Christopher Turk', N'Surgical Attending Physician', 333333333)
INSERT [Hospital].[Prescribes] ([physician], [patient], [medication], [date], [appointment], [dose]) VALUES (1, 100000001, 1, CAST(N'2008-04-24T10:47:00.000' AS DateTime), 13216584, N'5')
INSERT [Hospital].[Prescribes] ([physician], [patient], [medication], [date], [appointment], [dose]) VALUES (9, 100000004, 2, CAST(N'2008-04-27T10:53:00.000' AS DateTime), 86213939, N'10')
INSERT [Hospital].[Prescribes] ([physician], [patient], [medication], [date], [appointment], [dose]) VALUES (9, 100000004, 2, CAST(N'2008-04-30T16:53:00.000' AS DateTime), NULL, N'5')
INSERT [Hospital].[Procedures] ([code], [name], [cost]) VALUES (1, N'Reverse Rhinopodoplasty', 1500)
INSERT [Hospital].[Procedures] ([code], [name], [cost]) VALUES (2, N'Obtuse Pyloric Recombobulation', 3750)
INSERT [Hospital].[Procedures] ([code], [name], [cost]) VALUES (3, N'Folded Demiophtalmectomy', 4500)
INSERT [Hospital].[Room] ([blockfloor], [blockcode], [roomnumber], [roomtype], [unavailable]) VALUES (1, 1, 101, N'Single', 0)
INSERT [Hospital].[Room] ([blockfloor], [blockcode], [roomnumber], [roomtype], [unavailable]) VALUES (1, 1, 102, N'Single', 0)
INSERT [Hospital].[Room] ([blockfloor], [blockcode], [roomnumber], [roomtype], [unavailable]) VALUES (1, 1, 103, N'Single', 0)
INSERT [Hospital].[Stay] ([stayid], [patient], [room], [start_time], [end_time]) VALUES (3215, 100000001, 111, CAST(N'2008-05-01T00:00:00.000' AS DateTime), CAST(N'2008-05-04T00:00:00.000' AS DateTime))
INSERT [Hospital].[Stay] ([stayid], [patient], [room], [start_time], [end_time]) VALUES (3216, 100000003, 123, CAST(N'2008-05-03T00:00:00.000' AS DateTime), CAST(N'2008-05-14T00:00:00.000' AS DateTime))
INSERT [Hospital].[Stay] ([stayid], [patient], [room], [start_time], [end_time]) VALUES (3217, 100000004, 112, CAST(N'2008-05-02T00:00:00.000' AS DateTime), CAST(N'2008-05-03T00:00:00.000' AS DateTime))
INSERT [Hospital].[Trained_in] ([physician], [treatment], [certificationdate], [certificationexpires]) VALUES (3, 1, CAST(N'2008-01-01' AS Date), CAST(N'2008-12-31' AS Date))
INSERT [Hospital].[Trained_in] ([physician], [treatment], [certificationdate], [certificationexpires]) VALUES (3, 2, CAST(N'2008-01-01' AS Date), CAST(N'2008-12-31' AS Date))
INSERT [Hospital].[Trained_in] ([physician], [treatment], [certificationdate], [certificationexpires]) VALUES (3, 5, CAST(N'2008-01-01' AS Date), CAST(N'2008-12-31' AS Date))
INSERT [Hospital].[Undergoes] ([patient], [procedure], [stay], [date], [physician], [assistingnurse]) VALUES (100000001, 2, 3215, CAST(N'2008-05-03T00:00:00.000' AS DateTime), 7, 101)
INSERT [Hospital].[Undergoes] ([patient], [procedure], [stay], [date], [physician], [assistingnurse]) VALUES (100000001, 6, 3215, CAST(N'2008-05-02T00:00:00.000' AS DateTime), 3, 101)
INSERT [Hospital].[Undergoes] ([patient], [procedure], [stay], [date], [physician], [assistingnurse]) VALUES (100000001, 7, 3217, CAST(N'2008-05-10T00:00:00.000' AS DateTime), 7, 101)
INSERT [HR].[Countries] ([country_id], [country_name], [region_id]) VALUES (N'AR', N'Argentina', CAST(2 AS Numeric(10, 0)))
INSERT [HR].[Countries] ([country_id], [country_name], [region_id]) VALUES (N'AU', N'Australia', CAST(3 AS Numeric(10, 0)))
INSERT [HR].[Countries] ([country_id], [country_name], [region_id]) VALUES (N'BE', N'Belgium', CAST(1 AS Numeric(10, 0)))
INSERT [HR].[Departments] ([department_id], [department_name], [manager_id], [location_id]) VALUES (CAST(10 AS Numeric(4, 0)), N'Administration', CAST(200 AS Numeric(6, 0)), CAST(1700 AS Numeric(4, 0)))
INSERT [HR].[Departments] ([department_id], [department_name], [manager_id], [location_id]) VALUES (CAST(20 AS Numeric(4, 0)), N'Marketing', CAST(201 AS Numeric(6, 0)), CAST(1800 AS Numeric(4, 0)))
INSERT [HR].[Departments] ([department_id], [department_name], [manager_id], [location_id]) VALUES (CAST(30 AS Numeric(4, 0)), N'Purchasing', CAST(114 AS Numeric(6, 0)), CAST(1700 AS Numeric(4, 0)))
INSERT [HR].[Employees] ([employee_id], [first_name], [last_name], [email], [phone_number], [hire_date], [job_id], [salary], [commission_pct], [manager_id], [department_id]) VALUES (CAST(100 AS Numeric(6, 0)), N'Steven', N'King', N'SKING', N'515.123.4567', CAST(N'2003-06-17' AS Date), N'AD_PRES', CAST(24000.00 AS Numeric(8, 2)), CAST(0.00 AS Numeric(2, 2)), CAST(0 AS Numeric(6, 0)), CAST(90 AS Numeric(4, 0)))
INSERT [HR].[Employees] ([employee_id], [first_name], [last_name], [email], [phone_number], [hire_date], [job_id], [salary], [commission_pct], [manager_id], [department_id]) VALUES (CAST(101 AS Numeric(6, 0)), N'Neena', N'Kochhar', N'NKOCHHAR', N'515.123.4568', CAST(N'2005-09-21' AS Date), N'AD_VP', CAST(17000.00 AS Numeric(8, 2)), CAST(0.00 AS Numeric(2, 2)), CAST(100 AS Numeric(6, 0)), CAST(90 AS Numeric(4, 0)))
INSERT [HR].[Employees] ([employee_id], [first_name], [last_name], [email], [phone_number], [hire_date], [job_id], [salary], [commission_pct], [manager_id], [department_id]) VALUES (CAST(102 AS Numeric(6, 0)), N'Lex', N'De Haan', N'LDEHAAN', N'515.123.4569', CAST(N'2001-01-13' AS Date), N'AD_VP', CAST(17000.00 AS Numeric(8, 2)), CAST(0.00 AS Numeric(2, 2)), CAST(100 AS Numeric(6, 0)), CAST(90 AS Numeric(4, 0)))
GO
INSERT [HR].[Job_Grades] ([grade_level], [lowest_sal], [highest_sal]) VALUES (N'A', CAST(1000 AS Numeric(5, 0)), CAST(2999 AS Numeric(5, 0)))
INSERT [HR].[Job_Grades] ([grade_level], [lowest_sal], [highest_sal]) VALUES (N'B', CAST(3000 AS Numeric(5, 0)), CAST(5999 AS Numeric(5, 0)))
INSERT [HR].[Job_Grades] ([grade_level], [lowest_sal], [highest_sal]) VALUES (N'C', CAST(6000 AS Numeric(5, 0)), CAST(9999 AS Numeric(5, 0)))
INSERT [HR].[Job_History] ([employee_id], [start_date], [end_date], [job_id], [department_id]) VALUES (CAST(101 AS Numeric(6, 0)), CAST(N'1997-09-21' AS Date), CAST(N'2001-10-27' AS Date), N'AC_ACCOUNT', CAST(110 AS Numeric(4, 0)))
INSERT [HR].[Job_History] ([employee_id], [start_date], [end_date], [job_id], [department_id]) VALUES (CAST(101 AS Numeric(6, 0)), CAST(N'2001-10-28' AS Date), CAST(N'2005-03-15' AS Date), N'AC_MGR', CAST(110 AS Numeric(4, 0)))
INSERT [HR].[Job_History] ([employee_id], [start_date], [end_date], [job_id], [department_id]) VALUES (CAST(102 AS Numeric(6, 0)), CAST(N'2001-01-13' AS Date), CAST(N'2006-07-24' AS Date), N'IT_PROG', CAST(60 AS Numeric(4, 0)))
INSERT [HR].[Jobs] ([job_id], [job_title], [min_salary], [max_salary]) VALUES (N'AC_ACCOUNT', N'Public Accountant', CAST(4200 AS Numeric(6, 0)), CAST(9000 AS Numeric(6, 0)))
INSERT [HR].[Jobs] ([job_id], [job_title], [min_salary], [max_salary]) VALUES (N'AC_MGR', N'Accounting Manager', CAST(8200 AS Numeric(6, 0)), CAST(16000 AS Numeric(6, 0)))
INSERT [HR].[Jobs] ([job_id], [job_title], [min_salary], [max_salary]) VALUES (N'AD_ASST', N'Administration Assistant', CAST(3000 AS Numeric(6, 0)), CAST(6000 AS Numeric(6, 0)))
INSERT [HR].[Locations] ([location_id], [street_address], [postal_code], [city], [state_province], [country_id]) VALUES (CAST(1000 AS Numeric(4, 0)), N'1297 Via Cola di Rie', N'989', N'Roma', N'', N'IT')
INSERT [HR].[Locations] ([location_id], [street_address], [postal_code], [city], [state_province], [country_id]) VALUES (CAST(1100 AS Numeric(4, 0)), N'93091 Calle della Testa', N'10934', N'Venice', N'', N'IT')
INSERT [HR].[Locations] ([location_id], [street_address], [postal_code], [city], [state_province], [country_id]) VALUES (CAST(1200 AS Numeric(4, 0)), N'2017 Shinjuku-ku', N'1689', N'Tokyo', N'Tokyo Prefecture', N'JP')
INSERT [HR].[Regions] ([region_id], [region_name]) VALUES (CAST(1 AS Numeric(10, 0)), N'Europe                   ')
INSERT [HR].[Regions] ([region_id], [region_name]) VALUES (CAST(2 AS Numeric(10, 0)), N'Americas                 ')
INSERT [HR].[Regions] ([region_id], [region_name]) VALUES (CAST(3 AS Numeric(10, 0)), N'Asia                     ')
INSERT [Inventory].[Customer] ([salesman_id], [customer_id], [cust_name], [city], [grade]) VALUES (CAST(5005 AS Numeric(5, 0)), CAST(3001 AS Numeric(5, 0)), N'Brad Guzan', N'London', NULL)
INSERT [Inventory].[Customer] ([salesman_id], [customer_id], [cust_name], [city], [grade]) VALUES (CAST(5001 AS Numeric(5, 0)), CAST(3002 AS Numeric(5, 0)), N'Nick Rimando', N'New York', CAST(100 AS Numeric(3, 0)))
INSERT [Inventory].[Customer] ([salesman_id], [customer_id], [cust_name], [city], [grade]) VALUES (CAST(5007 AS Numeric(5, 0)), CAST(3003 AS Numeric(5, 0)), N'Jozy Altidor', N'Moscow', CAST(200 AS Numeric(3, 0)))
INSERT [Inventory].[Orders] ([salesman_id], [ord_no], [purch_amt], [ord_date], [customer_id]) VALUES (CAST(5002 AS Numeric(5, 0)), CAST(70001 AS Numeric(5, 0)), CAST(150.50 AS Numeric(8, 2)), CAST(N'2012-10-05' AS Date), CAST(3005 AS Numeric(5, 0)))
INSERT [Inventory].[Orders] ([salesman_id], [ord_no], [purch_amt], [ord_date], [customer_id]) VALUES (CAST(5001 AS Numeric(5, 0)), CAST(70002 AS Numeric(5, 0)), CAST(65.26 AS Numeric(8, 2)), CAST(N'2012-10-05' AS Date), CAST(3002 AS Numeric(5, 0)))
INSERT [Inventory].[Orders] ([salesman_id], [ord_no], [purch_amt], [ord_date], [customer_id]) VALUES (CAST(5003 AS Numeric(5, 0)), CAST(70003 AS Numeric(5, 0)), CAST(2480.40 AS Numeric(8, 2)), CAST(N'2012-10-10' AS Date), CAST(3009 AS Numeric(5, 0)))
INSERT [Inventory].[Salesman] ([salesman_id], [name], [city], [commission]) VALUES (CAST(5001 AS Numeric(5, 0)), N'James Hoog', N'New York', CAST(0.15 AS Numeric(5, 2)))
INSERT [Inventory].[Salesman] ([salesman_id], [name], [city], [commission]) VALUES (CAST(5002 AS Numeric(5, 0)), N'Nail Knite', N'Paris', CAST(0.13 AS Numeric(5, 2)))
INSERT [Inventory].[Salesman] ([salesman_id], [name], [city], [commission]) VALUES (CAST(5003 AS Numeric(5, 0)), N'Lauson Hen', N'San Jose', CAST(0.12 AS Numeric(5, 2)))
INSERT [Movies].[Actor] ([act_id], [act_fname], [act_lname], [act_gender]) VALUES (101, N'James               ', N'Stewart             ', N'M')
INSERT [Movies].[Actor] ([act_id], [act_fname], [act_lname], [act_gender]) VALUES (102, N'Deborah             ', N'Kerr                ', N'F')
INSERT [Movies].[Actor] ([act_id], [act_fname], [act_lname], [act_gender]) VALUES (103, N'Peter               ', N'OToole              ', N'M')
INSERT [Movies].[Director] ([dir_id], [dir_fname], [dir_lname]) VALUES (201, N'Alfred              ', N'Hitchcock           ')
INSERT [Movies].[Director] ([dir_id], [dir_fname], [dir_lname]) VALUES (202, N'Jack                ', N'Clayton             ')
INSERT [Movies].[Director] ([dir_id], [dir_fname], [dir_lname]) VALUES (203, N'David               ', N'Lean                ')
INSERT [Movies].[Genres] ([gen_id], [gen_title]) VALUES (1001, N'Action              ')
INSERT [Movies].[Genres] ([gen_id], [gen_title]) VALUES (1002, N'Adventure           ')
INSERT [Movies].[Genres] ([gen_id], [gen_title]) VALUES (1003, N'Animation           ')
INSERT [Movies].[Movie] ([mov_id], [mov_title], [mov_year], [mov_time], [mov_lang], [mov_dt_rel], [mov_rel_country]) VALUES (901, N'Vertigo                                           ', 1958, 128, N'English        ', CAST(N'1958-08-24' AS Date), N'UK   ')
INSERT [Movies].[Movie] ([mov_id], [mov_title], [mov_year], [mov_time], [mov_lang], [mov_dt_rel], [mov_rel_country]) VALUES (902, N'The Innocents                                     ', 1961, 100, N'English        ', CAST(N'1962-02-19' AS Date), N'SW   ')
INSERT [Movies].[Movie] ([mov_id], [mov_title], [mov_year], [mov_time], [mov_lang], [mov_dt_rel], [mov_rel_country]) VALUES (903, N'Lawrence of Arabia                                ', 1962, 216, N'English        ', CAST(N'1962-12-11' AS Date), N'UK   ')
INSERT [Movies].[Movie_cast] ([mov_id], [act_id], [role]) VALUES (901, 101, N'John Scottie Ferguson         ')
INSERT [Movies].[Movie_cast] ([mov_id], [act_id], [role]) VALUES (902, 102, N'Miss Giddens                  ')
INSERT [Movies].[Movie_cast] ([mov_id], [act_id], [role]) VALUES (903, 103, N'T.E. Lawrence                 ')
INSERT [Movies].[Movie_Direction] ([mov_id], [dir_id]) VALUES (901, 201)
INSERT [Movies].[Movie_Direction] ([mov_id], [dir_id]) VALUES (902, 202)
INSERT [Movies].[Movie_Direction] ([mov_id], [dir_id]) VALUES (903, 203)
INSERT [Movies].[Movie_Genres] ([mov_id], [gen_id]) VALUES (922, 1001)
INSERT [Movies].[Movie_Genres] ([mov_id], [gen_id]) VALUES (917, 1002)
INSERT [Movies].[Movie_Genres] ([mov_id], [gen_id]) VALUES (903, 1002)
INSERT [Movies].[Rating] ([mov_id], [rev_id], [rev_stars], [num_o_ratings]) VALUES (901, 9001, CAST(8.40 AS Numeric(4, 2)), 263575)
INSERT [Movies].[Rating] ([mov_id], [rev_id], [rev_stars], [num_o_ratings]) VALUES (902, 9002, CAST(7.90 AS Numeric(4, 2)), 20207)
INSERT [Movies].[Rating] ([mov_id], [rev_id], [rev_stars], [num_o_ratings]) VALUES (903, 9003, CAST(8.30 AS Numeric(4, 2)), 202778)
INSERT [Movies].[Reviewer] ([rev_id], [rev_name]) VALUES (9001, N'Righty Sock                   ')
INSERT [Movies].[Reviewer] ([rev_id], [rev_name]) VALUES (9002, N'Jack Malvern                  ')
INSERT [Movies].[Reviewer] ([rev_id], [rev_name]) VALUES (9003, N'Flagrant Baronessa            ')
INSERT [SOCCER].[asst_referee_mast] ([ass_ref_id], [ass_ref_name], [country_id]) VALUES (80001, N'Jure Praprotnik', 1225)
INSERT [SOCCER].[asst_referee_mast] ([ass_ref_id], [ass_ref_name], [country_id]) VALUES (80002, N'Robert Vukan', 1225)
INSERT [SOCCER].[asst_referee_mast] ([ass_ref_id], [ass_ref_name], [country_id]) VALUES (80003, N'Roberto Alonso Fernandez', 1219)
INSERT [SOCCER].[coach_mast] ([coach_id], [coach_name]) VALUES (5550, N'Gianni De Biasi')
INSERT [SOCCER].[coach_mast] ([coach_id], [coach_name]) VALUES (5551, N'Marcel Koller')
INSERT [SOCCER].[coach_mast] ([coach_id], [coach_name]) VALUES (5552, N'Marc Wilmots')
INSERT [SOCCER].[goal_details] ([goal_id], [match_no], [player_id], [team_id], [goal_time], [goal_type], [play_stage], [goal_schedule], [goal_half]) VALUES (1, 1, 160159, 1207, 57, N'N', N'G', N'NT', 2)
INSERT [SOCCER].[goal_details] ([goal_id], [match_no], [player_id], [team_id], [goal_time], [goal_type], [play_stage], [goal_schedule], [goal_half]) VALUES (2, 1, 160368, 1216, 65, N'P', N'G', N'NT', 2)
INSERT [SOCCER].[goal_details] ([goal_id], [match_no], [player_id], [team_id], [goal_time], [goal_type], [play_stage], [goal_schedule], [goal_half]) VALUES (3, 1, 160154, 1207, 89, N'N', N'G', N'NT', 2)
GO
INSERT [SOCCER].[match_captain] ([match_no], [team_id], [player_captain]) VALUES (1, 1207, 160140)
INSERT [SOCCER].[match_captain] ([match_no], [team_id], [player_captain]) VALUES (1, 1216, 160349)
INSERT [SOCCER].[match_captain] ([match_no], [team_id], [player_captain]) VALUES (2, 1201, 160013)
GO
INSERT [SOCCER].[match_details] ([match_no], [team_id], [play_stage], [win_lose], [decided_by], [goal_score], [penalty_score], [ass_ref], [player_gk]) VALUES (1, 1207, N'G', N'W', N'N', 2, NULL, 80016, 160140)
INSERT [SOCCER].[match_details] ([match_no], [team_id], [play_stage], [win_lose], [decided_by], [goal_score], [penalty_score], [ass_ref], [player_gk]) VALUES (1, 1216, N'G', N'L', N'N', 1, NULL, 80020, 160348)
INSERT [SOCCER].[match_details] ([match_no], [team_id], [play_stage], [win_lose], [decided_by], [goal_score], [penalty_score], [ass_ref], [player_gk]) VALUES (2, 1201, N'G', N'L', N'N', 0, NULL, 80003, 160001)
GO
INSERT [SOCCER].[match_mast] ([match_no], [play_stage], [decided_by], [goal_score], [play_date], [results], [venue_id], [referee_id], [audience], [plr_of_match], [stop1_sec], [stop2_sec]) VALUES (1, N'G', N'N', N'2-1', CAST(N'2016-06-11' AS Date), N'WIN  ', 20008, 70007, 75113, 160154, 131, 242)
INSERT [SOCCER].[match_mast] ([match_no], [play_stage], [decided_by], [goal_score], [play_date], [results], [venue_id], [referee_id], [audience], [plr_of_match], [stop1_sec], [stop2_sec]) VALUES (2, N'G', N'N', N'0-1', CAST(N'2016-06-11' AS Date), N'WIN  ', 20002, 70012, 33805, 160476, 61, 182)
INSERT [SOCCER].[match_mast] ([match_no], [play_stage], [decided_by], [goal_score], [play_date], [results], [venue_id], [referee_id], [audience], [plr_of_match], [stop1_sec], [stop2_sec]) VALUES (3, N'G', N'N', N'2-1', CAST(N'2016-06-11' AS Date), N'WIN  ', 20001, 70017, 37831, 160540, 64, 268)
INSERT [SOCCER].[penalty_gk] ([match_no], [team_id], [player_gk]) VALUES (37, 1221, 160463)
INSERT [SOCCER].[penalty_gk] ([match_no], [team_id], [player_gk]) VALUES (37, 1213, 160278)
INSERT [SOCCER].[penalty_gk] ([match_no], [team_id], [player_gk]) VALUES (45, 1213, 160278)
INSERT [SOCCER].[penalty_shootout] ([match_no], [team_id], [kick_id], [player_id], [score_goal], [kick_no]) VALUES (37, 1221, 1, 160467, N'Y', 1)
INSERT [SOCCER].[penalty_shootout] ([match_no], [team_id], [kick_id], [player_id], [score_goal], [kick_no]) VALUES (37, 1213, 2, 160297, N'Y', 2)
INSERT [SOCCER].[penalty_shootout] ([match_no], [team_id], [kick_id], [player_id], [score_goal], [kick_no]) VALUES (37, 1221, 3, 160477, N'N', 3)
INSERT [SOCCER].[player_booked] ([match_no], [team_id], [player_id], [booking_time], [sent_off], [play_schedule], [play_half]) VALUES (1, 1216, 160349, 32, N' ', N'NT', 1)
INSERT [SOCCER].[player_booked] ([match_no], [team_id], [player_id], [booking_time], [sent_off], [play_schedule], [play_half]) VALUES (1, 1216, 160355, 45, N' ', N'NT', 1)
INSERT [SOCCER].[player_booked] ([match_no], [team_id], [player_id], [booking_time], [sent_off], [play_schedule], [play_half]) VALUES (1, 1207, 160159, 69, N'Y', N'NT', 2)
GO
INSERT [SOCCER].[player_in_out] ([match_no], [team_id], [player_id], [play_schedule], [play_half], [in_out], [time_in_out]) VALUES (1, 1207, 160151, N'NT', 2, N'I', 66)
INSERT [SOCCER].[player_in_out] ([match_no], [team_id], [player_id], [play_schedule], [play_half], [in_out], [time_in_out]) VALUES (1, 1207, 160160, N'NT', 2, N'O', 66)
INSERT [SOCCER].[player_in_out] ([match_no], [team_id], [player_id], [play_schedule], [play_half], [in_out], [time_in_out]) VALUES (1, 1207, 160161, N'NT', 2, N'I', 77)
GO
INSERT [SOCCER].[player_mast] ([team_id], [player_id], [jersey_no], [player_name], [posi_to_play], [dt_of_bir], [age], [playing_club]) VALUES (1201, 160001, 1, N'Etrit Berisha ', N'GK', CAST(N'1989-03-10' AS Date), 27, N'Lazio')
INSERT [SOCCER].[player_mast] ([team_id], [player_id], [jersey_no], [player_name], [posi_to_play], [dt_of_bir], [age], [playing_club]) VALUES (1201, 160002, 23, N'Alban Hoxha ', N'GK', CAST(N'1987-11-23' AS Date), 28, N'Partizani')
INSERT [SOCCER].[player_mast] ([team_id], [player_id], [jersey_no], [player_name], [posi_to_play], [dt_of_bir], [age], [playing_club]) VALUES (1201, 160003, 12, N'Orges Shehi ', N'GK', CAST(N'1977-09-25' AS Date), 38, N'Skenderbeu')
GO
INSERT [SOCCER].[playing_position] ([position_id], [position_desc]) VALUES (N'DF', N'Defenders')
INSERT [SOCCER].[playing_position] ([position_id], [position_desc]) VALUES (N'FD', N'Defenders')
INSERT [SOCCER].[playing_position] ([position_id], [position_desc]) VALUES (N'GK', N'Goalkeepers')
INSERT [SOCCER].[referee_mast] ([referee_id], [referee_name], [country_id]) VALUES (70001, N'Damir Skomina', 1225)
INSERT [SOCCER].[referee_mast] ([referee_id], [referee_name], [country_id]) VALUES (70002, N'Martin Atkinson', 1206)
INSERT [SOCCER].[referee_mast] ([referee_id], [referee_name], [country_id]) VALUES (70003, N'Felix Brych', 1208)
INSERT [SOCCER].[soccer_city] ([city_id], [city], [country_id]) VALUES (10001, N'Paris', 1207)
INSERT [SOCCER].[soccer_city] ([city_id], [city], [country_id]) VALUES (10002, N'Saint-Denis', 1207)
INSERT [SOCCER].[soccer_city] ([city_id], [city], [country_id]) VALUES (10003, N'Bordeaux', 1207)
INSERT [SOCCER].[soccer_country] ([country_id], [country_abbr], [country_name]) VALUES (1201, N'ALB', N'Albania')
INSERT [SOCCER].[soccer_country] ([country_id], [country_abbr], [country_name]) VALUES (1202, N'AUT', N'Austria')
INSERT [SOCCER].[soccer_country] ([country_id], [country_abbr], [country_name]) VALUES (1203, N'BEL', N'Belgium')
INSERT [SOCCER].[soccer_team] ([team_id], [team_group], [match_played], [won], [draw], [lost], [goal_for], [goal_agnst], [goal_diff], [points], [group_position]) VALUES (1201, N'A', 3, 1, 0, 2, 1, 3, -2, 3, 3)
INSERT [SOCCER].[soccer_team] ([team_id], [team_group], [match_played], [won], [draw], [lost], [goal_for], [goal_agnst], [goal_diff], [points], [group_position]) VALUES (1202, N'F', 3, 0, 1, 2, 1, 4, -3, 1, 4)
INSERT [SOCCER].[soccer_team] ([team_id], [team_group], [match_played], [won], [draw], [lost], [goal_for], [goal_agnst], [goal_diff], [points], [group_position]) VALUES (1203, N'E', 3, 2, 0, 1, 4, 2, 2, 6, 2)
INSERT [SOCCER].[soccer_venue] ([venue_id], [venue_name], [city_id], [aud_capacity]) VALUES (20001, N'Stade de Bordeaux', 10003, 42115)
INSERT [SOCCER].[soccer_venue] ([venue_id], [venue_name], [city_id], [aud_capacity]) VALUES (20002, N'Stade Bollaert-Delelis', 10004, 38223)
INSERT [SOCCER].[soccer_venue] ([venue_id], [venue_name], [city_id], [aud_capacity]) VALUES (20003, N'Stade Pierre Mauroy', 10005, 49822)
INSERT [SOCCER].[team_coaches] ([team_id], [coach_id]) VALUES (1201, 5550)
INSERT [SOCCER].[team_coaches] ([team_id], [coach_id]) VALUES (1202, 5551)
INSERT [SOCCER].[team_coaches] ([team_id], [coach_id]) VALUES (1203, 5552)
ALTER TABLE [Employee].[employees]  WITH CHECK ADD  CONSTRAINT [FK_employees_department] FOREIGN KEY([dep_id])
REFERENCES [Employee].[department] ([dep_id])
GO
ALTER TABLE [Employee].[employees] CHECK CONSTRAINT [FK_employees_department]
GO
ALTER TABLE [Hospital].[Affiliated_With]  WITH CHECK ADD  CONSTRAINT [FK_Affiliated_With_Department] FOREIGN KEY([department])
REFERENCES [Hospital].[Department] ([departmentid])
GO
ALTER TABLE [Hospital].[Affiliated_With] CHECK CONSTRAINT [FK_Affiliated_With_Department]
GO
ALTER TABLE [Hospital].[Affiliated_With]  WITH CHECK ADD  CONSTRAINT [FK_Affiliated_With_Physician] FOREIGN KEY([physician])
REFERENCES [Hospital].[Physician] ([employeeid])
GO
ALTER TABLE [Hospital].[Affiliated_With] CHECK CONSTRAINT [FK_Affiliated_With_Physician]
GO
ALTER TABLE [Hospital].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Nurse] FOREIGN KEY([prepnurse])
REFERENCES [Hospital].[Nurse] ([employeeid])
GO
ALTER TABLE [Hospital].[Appointment] CHECK CONSTRAINT [FK_Appointment_Nurse]
GO
ALTER TABLE [Hospital].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Patient] FOREIGN KEY([patient])
REFERENCES [Hospital].[Patient] ([ssn])
GO
ALTER TABLE [Hospital].[Appointment] CHECK CONSTRAINT [FK_Appointment_Patient]
GO
ALTER TABLE [Hospital].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Physician] FOREIGN KEY([physician])
REFERENCES [Hospital].[Physician] ([employeeid])
GO
ALTER TABLE [Hospital].[Appointment] CHECK CONSTRAINT [FK_Appointment_Physician]
GO
ALTER TABLE [Hospital].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Physician] FOREIGN KEY([head])
REFERENCES [Hospital].[Physician] ([employeeid])
GO
ALTER TABLE [Hospital].[Department] CHECK CONSTRAINT [FK_Department_Physician]
GO
ALTER TABLE [Hospital].[On-Call]  WITH CHECK ADD  CONSTRAINT [fk_OnCall_Block] FOREIGN KEY([blockfloor], [blockcode])
REFERENCES [Hospital].[Block] ([blockfloor], [blockcode])
GO
ALTER TABLE [Hospital].[On-Call] CHECK CONSTRAINT [fk_OnCall_Block]
GO
ALTER TABLE [Hospital].[On-Call]  WITH CHECK ADD  CONSTRAINT [FK_On-Call_Nurse] FOREIGN KEY([nurse])
REFERENCES [Hospital].[Nurse] ([employeeid])
GO
ALTER TABLE [Hospital].[On-Call] CHECK CONSTRAINT [FK_On-Call_Nurse]
GO
ALTER TABLE [Hospital].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Physician] FOREIGN KEY([pcp])
REFERENCES [Hospital].[Physician] ([employeeid])
GO
ALTER TABLE [Hospital].[Patient] CHECK CONSTRAINT [FK_Patient_Physician]
GO
ALTER TABLE [Hospital].[Prescribes]  WITH CHECK ADD  CONSTRAINT [FK_Prescribes_Appointment] FOREIGN KEY([appointment])
REFERENCES [Hospital].[Appointment] ([appointmentid])
GO
ALTER TABLE [Hospital].[Prescribes] CHECK CONSTRAINT [FK_Prescribes_Appointment]
GO
ALTER TABLE [Hospital].[Prescribes]  WITH CHECK ADD  CONSTRAINT [FK_Prescribes_Medication] FOREIGN KEY([medication])
REFERENCES [Hospital].[Medication] ([code])
GO
ALTER TABLE [Hospital].[Prescribes] CHECK CONSTRAINT [FK_Prescribes_Medication]
GO
ALTER TABLE [Hospital].[Prescribes]  WITH CHECK ADD  CONSTRAINT [FK_Prescribes_Patient] FOREIGN KEY([patient])
REFERENCES [Hospital].[Patient] ([ssn])
GO
ALTER TABLE [Hospital].[Prescribes] CHECK CONSTRAINT [FK_Prescribes_Patient]
GO
ALTER TABLE [Hospital].[Prescribes]  WITH CHECK ADD  CONSTRAINT [FK_Prescribes_Physician] FOREIGN KEY([physician])
REFERENCES [Hospital].[Physician] ([employeeid])
GO
ALTER TABLE [Hospital].[Prescribes] CHECK CONSTRAINT [FK_Prescribes_Physician]
GO
ALTER TABLE [Hospital].[Room]  WITH CHECK ADD  CONSTRAINT [fk_Room_Block] FOREIGN KEY([blockfloor], [blockcode])
REFERENCES [Hospital].[Block] ([blockfloor], [blockcode])
GO
ALTER TABLE [Hospital].[Room] CHECK CONSTRAINT [fk_Room_Block]
GO
ALTER TABLE [Hospital].[Stay]  WITH CHECK ADD  CONSTRAINT [FK_Stay_Patient] FOREIGN KEY([patient])
REFERENCES [Hospital].[Patient] ([ssn])
GO
ALTER TABLE [Hospital].[Stay] CHECK CONSTRAINT [FK_Stay_Patient]
GO
ALTER TABLE [Hospital].[Stay]  WITH CHECK ADD  CONSTRAINT [FK_Stay_Room] FOREIGN KEY([room])
REFERENCES [Hospital].[Room] ([roomnumber])
GO
ALTER TABLE [Hospital].[Stay] CHECK CONSTRAINT [FK_Stay_Room]
GO
ALTER TABLE [Hospital].[Trained_in]  WITH CHECK ADD  CONSTRAINT [FK_Trained_in_Physician] FOREIGN KEY([physician])
REFERENCES [Hospital].[Physician] ([employeeid])
GO
ALTER TABLE [Hospital].[Trained_in] CHECK CONSTRAINT [FK_Trained_in_Physician]
GO
ALTER TABLE [Hospital].[Trained_in]  WITH CHECK ADD  CONSTRAINT [FK_Trained_in_Procedures] FOREIGN KEY([treatment])
REFERENCES [Hospital].[Procedures] ([code])
GO
ALTER TABLE [Hospital].[Trained_in] CHECK CONSTRAINT [FK_Trained_in_Procedures]
GO
ALTER TABLE [Hospital].[Undergoes]  WITH CHECK ADD  CONSTRAINT [FK_Undergoes_Nurse] FOREIGN KEY([assistingnurse])
REFERENCES [Hospital].[Nurse] ([employeeid])
GO
ALTER TABLE [Hospital].[Undergoes] CHECK CONSTRAINT [FK_Undergoes_Nurse]
GO
ALTER TABLE [Hospital].[Undergoes]  WITH CHECK ADD  CONSTRAINT [FK_Undergoes_Patient] FOREIGN KEY([patient])
REFERENCES [Hospital].[Patient] ([ssn])
GO
ALTER TABLE [Hospital].[Undergoes] CHECK CONSTRAINT [FK_Undergoes_Patient]
GO
ALTER TABLE [Hospital].[Undergoes]  WITH CHECK ADD  CONSTRAINT [FK_Undergoes_Physician] FOREIGN KEY([physician])
REFERENCES [Hospital].[Physician] ([employeeid])
GO
ALTER TABLE [Hospital].[Undergoes] CHECK CONSTRAINT [FK_Undergoes_Physician]
GO
ALTER TABLE [Hospital].[Undergoes]  WITH CHECK ADD  CONSTRAINT [FK_Undergoes_Procedures] FOREIGN KEY([procedure])
REFERENCES [Hospital].[Procedures] ([code])
GO
ALTER TABLE [Hospital].[Undergoes] CHECK CONSTRAINT [FK_Undergoes_Procedures]
GO
ALTER TABLE [Hospital].[Undergoes]  WITH CHECK ADD  CONSTRAINT [FK_Undergoes_Stay] FOREIGN KEY([stay])
REFERENCES [Hospital].[Stay] ([stayid])
GO
ALTER TABLE [Hospital].[Undergoes] CHECK CONSTRAINT [FK_Undergoes_Stay]
GO
ALTER TABLE [HR].[Countries]  WITH CHECK ADD  CONSTRAINT [FK_Countries_Regions] FOREIGN KEY([region_id])
REFERENCES [HR].[Regions] ([region_id])
GO
ALTER TABLE [HR].[Countries] CHECK CONSTRAINT [FK_Countries_Regions]
GO
ALTER TABLE [HR].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_Locations] FOREIGN KEY([location_id])
REFERENCES [HR].[Locations] ([location_id])
GO
ALTER TABLE [HR].[Departments] CHECK CONSTRAINT [FK_Departments_Locations]
GO
ALTER TABLE [HR].[Employees]  WITH NOCHECK ADD FOREIGN KEY([department_id])
REFERENCES [HR].[Departments] ([department_id])
GO
ALTER TABLE [HR].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Jobs] FOREIGN KEY([job_id])
REFERENCES [HR].[Jobs] ([job_id])
GO
ALTER TABLE [HR].[Employees] CHECK CONSTRAINT [FK_Employees_Jobs]
GO
ALTER TABLE [HR].[Job_History]  WITH NOCHECK ADD FOREIGN KEY([employee_id])
REFERENCES [HR].[Employees] ([employee_id])
GO
ALTER TABLE [HR].[Job_History]  WITH CHECK ADD  CONSTRAINT [FK_Job_History_Departments] FOREIGN KEY([department_id])
REFERENCES [HR].[Departments] ([department_id])
GO
ALTER TABLE [HR].[Job_History] CHECK CONSTRAINT [FK_Job_History_Departments]
GO
ALTER TABLE [HR].[Job_History]  WITH CHECK ADD  CONSTRAINT [FK_Job_History_Jobs] FOREIGN KEY([job_id])
REFERENCES [HR].[Jobs] ([job_id])
GO
ALTER TABLE [HR].[Job_History] CHECK CONSTRAINT [FK_Job_History_Jobs]
GO
ALTER TABLE [HR].[Locations]  WITH NOCHECK ADD FOREIGN KEY([country_id])
REFERENCES [HR].[Countries] ([country_id])
GO
ALTER TABLE [Inventory].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customer] FOREIGN KEY([customer_id])
REFERENCES [Inventory].[Customer] ([customer_id])
GO
ALTER TABLE [Inventory].[Orders] CHECK CONSTRAINT [FK_Orders_Customer]
GO
ALTER TABLE [Inventory].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Salesman] FOREIGN KEY([salesman_id])
REFERENCES [Inventory].[Salesman] ([salesman_id])
GO
ALTER TABLE [Inventory].[Orders] CHECK CONSTRAINT [FK_Orders_Salesman]
GO
ALTER TABLE [SOCCER].[asst_referee_mast]  WITH CHECK ADD  CONSTRAINT [FK_asst_referee_mast_soccer_country] FOREIGN KEY([country_id])
REFERENCES [SOCCER].[soccer_country] ([country_id])
GO
ALTER TABLE [SOCCER].[asst_referee_mast] CHECK CONSTRAINT [FK_asst_referee_mast_soccer_country]
GO
ALTER TABLE [SOCCER].[goal_details]  WITH CHECK ADD  CONSTRAINT [FK_goal_details_match_mast] FOREIGN KEY([match_no])
REFERENCES [SOCCER].[match_mast] ([match_no])
GO
ALTER TABLE [SOCCER].[goal_details] CHECK CONSTRAINT [FK_goal_details_match_mast]
GO
ALTER TABLE [SOCCER].[goal_details]  WITH CHECK ADD  CONSTRAINT [FK_goal_details_soccer_team] FOREIGN KEY([team_id])
REFERENCES [SOCCER].[soccer_team] ([team_id])
GO
ALTER TABLE [SOCCER].[goal_details] CHECK CONSTRAINT [FK_goal_details_soccer_team]
GO
ALTER TABLE [SOCCER].[goal_details]  WITH NOCHECK ADD  CONSTRAINT [FK_goal_detailsPlayer] FOREIGN KEY([player_id])
REFERENCES [SOCCER].[player_mast] ([player_id])
GO
ALTER TABLE [SOCCER].[goal_details] CHECK CONSTRAINT [FK_goal_detailsPlayer]
GO
ALTER TABLE [SOCCER].[match_captain]  WITH CHECK ADD  CONSTRAINT [FK_match_captain_match_mast] FOREIGN KEY([match_no])
REFERENCES [SOCCER].[match_mast] ([match_no])
GO
ALTER TABLE [SOCCER].[match_captain] CHECK CONSTRAINT [FK_match_captain_match_mast]
GO
ALTER TABLE [SOCCER].[match_captain]  WITH CHECK ADD  CONSTRAINT [FK_match_captain_soccer_team] FOREIGN KEY([team_id])
REFERENCES [SOCCER].[soccer_team] ([team_id])
GO
ALTER TABLE [SOCCER].[match_captain] CHECK CONSTRAINT [FK_match_captain_soccer_team]
GO
ALTER TABLE [SOCCER].[match_details]  WITH CHECK ADD  CONSTRAINT [FK_match_details_asst_referee_mast] FOREIGN KEY([ass_ref])
REFERENCES [SOCCER].[asst_referee_mast] ([ass_ref_id])
GO
ALTER TABLE [SOCCER].[match_details] CHECK CONSTRAINT [FK_match_details_asst_referee_mast]
GO
ALTER TABLE [SOCCER].[match_details]  WITH CHECK ADD  CONSTRAINT [FK_match_details_match_mast] FOREIGN KEY([match_no])
REFERENCES [SOCCER].[match_mast] ([match_no])
GO
ALTER TABLE [SOCCER].[match_details] CHECK CONSTRAINT [FK_match_details_match_mast]
GO
ALTER TABLE [SOCCER].[match_details]  WITH CHECK ADD  CONSTRAINT [FK_match_details_soccer_team] FOREIGN KEY([team_id])
REFERENCES [SOCCER].[soccer_team] ([team_id])
GO
ALTER TABLE [SOCCER].[match_details] CHECK CONSTRAINT [FK_match_details_soccer_team]
GO
ALTER TABLE [SOCCER].[match_mast]  WITH CHECK ADD  CONSTRAINT [FK_match_mast_referee_mast] FOREIGN KEY([referee_id])
REFERENCES [SOCCER].[referee_mast] ([referee_id])
GO
ALTER TABLE [SOCCER].[match_mast] CHECK CONSTRAINT [FK_match_mast_referee_mast]
GO
ALTER TABLE [SOCCER].[match_mast]  WITH CHECK ADD  CONSTRAINT [FK_match_mast_soccer_venue] FOREIGN KEY([venue_id])
REFERENCES [SOCCER].[soccer_venue] ([venue_id])
GO
ALTER TABLE [SOCCER].[match_mast] CHECK CONSTRAINT [FK_match_mast_soccer_venue]
GO
ALTER TABLE [SOCCER].[penalty_gk]  WITH CHECK ADD  CONSTRAINT [FK_penalty_gk_match_mast] FOREIGN KEY([match_no])
REFERENCES [SOCCER].[match_mast] ([match_no])
GO
ALTER TABLE [SOCCER].[penalty_gk] CHECK CONSTRAINT [FK_penalty_gk_match_mast]
GO
ALTER TABLE [SOCCER].[penalty_gk]  WITH CHECK ADD  CONSTRAINT [FK_penalty_gk_soccer_team] FOREIGN KEY([team_id])
REFERENCES [SOCCER].[soccer_team] ([team_id])
GO
ALTER TABLE [SOCCER].[penalty_gk] CHECK CONSTRAINT [FK_penalty_gk_soccer_team]
GO
ALTER TABLE [SOCCER].[penalty_shootout]  WITH CHECK ADD  CONSTRAINT [FK_penalty_shootout_match_mast] FOREIGN KEY([match_no])
REFERENCES [SOCCER].[match_mast] ([match_no])
GO
ALTER TABLE [SOCCER].[penalty_shootout] CHECK CONSTRAINT [FK_penalty_shootout_match_mast]
GO
ALTER TABLE [SOCCER].[penalty_shootout]  WITH CHECK ADD  CONSTRAINT [FK_penalty_shootout_soccer_team] FOREIGN KEY([team_id])
REFERENCES [SOCCER].[soccer_team] ([team_id])
GO
ALTER TABLE [SOCCER].[penalty_shootout] CHECK CONSTRAINT [FK_penalty_shootout_soccer_team]
GO
ALTER TABLE [SOCCER].[penalty_shootout]  WITH NOCHECK ADD  CONSTRAINT [FK_penalty_shootoutPlayer] FOREIGN KEY([player_id])
REFERENCES [SOCCER].[player_mast] ([player_id])
GO
ALTER TABLE [SOCCER].[penalty_shootout] CHECK CONSTRAINT [FK_penalty_shootoutPlayer]
GO
ALTER TABLE [SOCCER].[player_booked]  WITH CHECK ADD  CONSTRAINT [FK_player_booked_match_mast] FOREIGN KEY([match_no])
REFERENCES [SOCCER].[match_mast] ([match_no])
GO
ALTER TABLE [SOCCER].[player_booked] CHECK CONSTRAINT [FK_player_booked_match_mast]
GO
ALTER TABLE [SOCCER].[player_booked]  WITH NOCHECK ADD  CONSTRAINT [FK_player_bookedPlayer] FOREIGN KEY([player_id])
REFERENCES [SOCCER].[player_mast] ([player_id])
GO
ALTER TABLE [SOCCER].[player_booked] CHECK CONSTRAINT [FK_player_bookedPlayer]
GO
ALTER TABLE [SOCCER].[player_in_out]  WITH CHECK ADD  CONSTRAINT [FK_player_in_out_match_mast] FOREIGN KEY([match_no])
REFERENCES [SOCCER].[match_mast] ([match_no])
GO
ALTER TABLE [SOCCER].[player_in_out] CHECK CONSTRAINT [FK_player_in_out_match_mast]
GO
ALTER TABLE [SOCCER].[player_in_out]  WITH CHECK ADD  CONSTRAINT [FK_player_in_out_soccer_team] FOREIGN KEY([team_id])
REFERENCES [SOCCER].[soccer_team] ([team_id])
GO
ALTER TABLE [SOCCER].[player_in_out] CHECK CONSTRAINT [FK_player_in_out_soccer_team]
GO
ALTER TABLE [SOCCER].[player_in_out]  WITH NOCHECK ADD  CONSTRAINT [FK_player_in_outPlayer] FOREIGN KEY([player_id])
REFERENCES [SOCCER].[player_mast] ([player_id])
GO
ALTER TABLE [SOCCER].[player_in_out] CHECK CONSTRAINT [FK_player_in_outPlayer]
GO
ALTER TABLE [SOCCER].[player_mast]  WITH CHECK ADD  CONSTRAINT [FK_player_mast_playing_position] FOREIGN KEY([posi_to_play])
REFERENCES [SOCCER].[playing_position] ([position_id])
GO
ALTER TABLE [SOCCER].[player_mast] CHECK CONSTRAINT [FK_player_mast_playing_position]
GO
ALTER TABLE [SOCCER].[referee_mast]  WITH CHECK ADD  CONSTRAINT [FK_referee_mast_soccer_country] FOREIGN KEY([country_id])
REFERENCES [SOCCER].[soccer_country] ([country_id])
GO
ALTER TABLE [SOCCER].[referee_mast] CHECK CONSTRAINT [FK_referee_mast_soccer_country]
GO
ALTER TABLE [SOCCER].[soccer_city]  WITH CHECK ADD  CONSTRAINT [FK_soccer_city_soccer_country] FOREIGN KEY([country_id])
REFERENCES [SOCCER].[soccer_country] ([country_id])
GO
ALTER TABLE [SOCCER].[soccer_city] CHECK CONSTRAINT [FK_soccer_city_soccer_country]
GO
ALTER TABLE [SOCCER].[soccer_venue]  WITH CHECK ADD  CONSTRAINT [FK_soccer_venue_soccer_city] FOREIGN KEY([city_id])
REFERENCES [SOCCER].[soccer_city] ([city_id])
GO
ALTER TABLE [SOCCER].[soccer_venue] CHECK CONSTRAINT [FK_soccer_venue_soccer_city]
GO
ALTER TABLE [SOCCER].[team_coaches]  WITH CHECK ADD  CONSTRAINT [FK_team_coaches_coach_mast] FOREIGN KEY([coach_id])
REFERENCES [SOCCER].[coach_mast] ([coach_id])
GO
ALTER TABLE [SOCCER].[team_coaches] CHECK CONSTRAINT [FK_team_coaches_coach_mast]
GO
ALTER TABLE [SOCCER].[team_coaches]  WITH CHECK ADD  CONSTRAINT [FK_team_coaches_soccer_team] FOREIGN KEY([team_id])
REFERENCES [SOCCER].[soccer_team] ([team_id])
GO
ALTER TABLE [SOCCER].[team_coaches] CHECK CONSTRAINT [FK_team_coaches_soccer_team]
GO
USE [master]
GO
